<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//use.edgefonts.net/vast-shadow:n4:all.js"></script>
    <script src="//use.edgefonts.net/vast-shadow:n4:all;megrim.js"></script>
    <script src="taskListApp.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <div class="todo-wrapper" ng-controller="TodoCtrl">
      <ul>
        <li ng-repeat="todo in todos">
          <span class="task-color-indicator"></span>
          <input type="checkbox" ng-model="todo.done"/>
          <p class="done-{{todo.done}}">{{todo.text}}</p>
          <div class="clear"></div>
        </li>
      </ul>
      <form>
        <textarea class="add-input" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant></textarea>
        <div class="form-element">
          <label>Importance : </label>
          <select>
              <option>Important</option>
              <option>Not important</option>
          </select>
        </div>
        <div class="form-element">
          <label>Urgency : </label>
          <select>
              <option>Urgent</option>
              <option>Not urgent</option>
          </select>
        </div>
        <button class="add-btn" ng-click="addTodo()"><h2>Add</h2></button>
      </form>
      
      <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
    </div>
  </body>
  <!-- -->
</html>